body {
	background: rgba(195,195,205,1);
	background: -moz-linear-gradient(left, rgba(195,195,205,1) 0%, rgba(255,255,255,1) 0%, rgba(227,227,227,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(195,195,205,1)), color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(227,227,227,1)));
	background: -webkit-linear-gradient(left, rgba(195,195,205,1) 0%, rgba(255,255,255,1) 0%, rgba(227,227,227,1) 100%);
	background: -o-linear-gradient(left, rgba(195,195,205,1) 0%, rgba(255,255,255,1) 0%, rgba(227,227,227,1) 100%);
	background: -ms-linear-gradient(left, rgba(195,195,205,1) 0%, rgba(255,255,255,1) 0%, rgba(227,227,227,1) 100%);
	background: linear-gradient(to right, rgba(195,195,205,1) 0%, rgba(255,255,255,1) 0%, rgba(227,227,227,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3c3cd', endColorstr='#e3e3e3', GradientType=1 );
	font-family: "sans-serif";
}
.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -105px!important;
    display: block;
}

.navbar {
	height: 5vh;
}






/*IDs*/
#change {
    color: #fff;
    background-color: rgb(70,70,85);
    border-color: rgb(70,70,85);
}
#navcolor
{
	background-color: rgb(170,135,115);
}
#navbrand
{
	font-weight: 700;
	font-size: 3em;
}
#title
{
	background-color: rgb(170,135,115);
	padding: 10px;
}
#title .jumbotron
{
	background-color:rgb(70,70,85);
	color: white;
}
#title p
{

	font-size: 1.5em;
}
#title h1
{
	background-color: white;
	color: black;
	font-size: 4em;
}
.col-6 #change
{
	width: 100%;
}